@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white : #ffffff;
  --black: #000000;
  --color-main : rgb(139, 49, 181);
  --color-accent: rgb(210, 207, 121);

}

  .button{
    background-color: var(--color-main);
    color: var(--white);
    transition: background-color 0.3s ease-in-out;

  }

  .button:hover{
    background-color: var(--color-accent);

  }

.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}