:root {
    --white : #ffffff;
    --black: #000000;
    --color-main : rgb(139, 49, 181);
    --color-accent: rgb(235, 231, 117);

  }

  .button{
    background-color: var(--color-main);
    color: var(--white);
    box-shadow: 0 0 3px var(--black);
  }